<div id="wrapper">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/">Kapture Skillsweb</a>
      </div>
      <!-- /.navbar-header -->

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-top-links navbar-right">
          <li><a href="/upload">Evaluatie Opladen</a></li>
          <li><a href="/report">Rapportering</a></li>
          <li><a href="/admin">Administratie</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
